@font-face {
  font-family: "Anaphora";
  src: url("/fonts/Anaphora-Fat-trial.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* @font-face {
  font-family: "Anaphora";
  src: url("/css/AnaphoraStencil-Fat.woff") format("woff");
  font-style: normal;
  font-weight: normal;
} */
@font-face {
  font-family: "Bryndan";
  src: url("/css/BryndanWriteBook-nGPM.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
* {
  scroll-behavior: smooth;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  /* background-color: #afa9a9;   */
  /* background: url("../bg_image/1.jpeg") no-repeat center center fixed;  */
  /* background: linear-gradient(#ffffff, #fdb4ae82) fixed; */
  background: #ead3ff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.padding5 {
  padding: 0 5px;
}

.message_btn {
  display: flex;
  z-index: 9;
  margin-left: -80px;
  align-items: center;
}

.messageButton {
  background-color: #004aad;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  gap:10px;
}
.messageButton p {
  font-size: 20px;
  margin: 0;
}
.message_btn i {
  font-size: 22px;
}
button:hover {
  cursor: pointer;
}
.onerow {
  z-index: 9;
  display: flex;
  align-items: center;
  align-items: center;
  gap:20px;
}
.account_style {
  text-align: left;
  font-size: 20px;
}
.onerow img {
  width: 90px;
  height: auto;
}
.messageButton img {
  width: 60px;
  height: auto;
}
.onerow p {
  font-size: 26px;
  margin: 0;
  text-align: left;
}
.onerow.onerow_icons img {
width: 70px;
height: auto;
}
.blockName p {
  margin: 0;
}
.blockName {
  padding: 10px 0;
  margin-left: -20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main_block {
  width: 100%;
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 10px 10px 10px;
  box-sizing: border-box;
}

.banner300x100 {
  background-color: black;
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  line-height: 100px;
  text-align: center;
}
.banner300x250 {
  background-color: black;
  width: 300px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  line-height: 250px;
  text-align: center;
}

.btns_row {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 20px 0;
}

.btns_row button {
  border: none;
  padding: 4px;
  border-radius: 30px;
  width: 140px;
  min-height: 60px;
  text-align: center;
}

.btns_row button a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.titleBryndon { 
  text-align: center;
  font-size: 35px;
  text-decoration: underline;
  padding: 20px 0;
}

.greenRound {
  background-color: #008037;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.block_online p {
  font-size: 18px;
  margin: 0 0 0 5px;
  padding: 0;
}

.account_girl {
  text-align: center;
  width: auto;
  height: 150px;
  background-position-x: center;
  background-position-y: center;
  box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
  border-radius: 20px;
  background-color: white;
  display: grid;
  grid-template-columns: .7fr 1fr .5fr;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}

.block_img img {
  border-radius: 100%;
  box-shadow: 0 0 0 5px #d9d9d9, 0 0 13px #d9d9d9;
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: center;
}

.block_online {
  padding: 10px 0;
  display: flex;
  align-items: flex-start;
  margin-left: -10px;
  gap:10px;
  justify-content: space-evenly;
}

.block_img {
  position: relative;
  z-index: 9;
  grid-row: 1 / 3;
  display: flex;
  align-items: center;
  padding: 10px;
}
.account_girl>div:nth-child(1) p {
  position: absolute;
  background-color: #00000054;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: -5px;
  margin-left: -15px;
}
.messageButton:hover img {
  cursor: pointer;
  transform: scale(1.25);
}
.container_withGirl_block:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.container_withGirl_block {
  transition: transform 500ms ease-in-out 25ms;
}
.messageButton:hover {
  cursor: pointer;
}
.button-1 {
  color: #fff;
  border: 3px solid #000000 !important;
  background-image: -webkit-linear-gradient(30deg, #000000 50%, #ead3ff  50%);
  background-image: linear-gradient(30deg, #000000 50%, #ead3ff  50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-1:hover {
  background-position: 100%;
}
.button-1:hover a {
  color: #000000 !important;
}
.button-2 {
  color: #8c52ff !important;
  border: 3px solid #ffffff !important;
  background-image: -webkit-linear-gradient(30deg, #ffffff 50%, #ead3ff  50%);
  background-image: linear-gradient(30deg, #ffffff 50%, #ead3ff  50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2 a {
  color: #8c52ff !important;
}
.button-2:hover {
  background-position: 100%;
}
.button-2:hover a {
  color: #8c52ff !important;
}
.redblock {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #fb7a7090;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  color: white;
}
.colorRed {
  color:#ed0000;
  font-weight: 600;
}
.firstText {
  color: #03000e;
  font-weight: bold;
  text-align: center;
  padding: 0 0 20px 0;
  font-size: 20px;
}

.main_iconStyle {
  color: rgba(126, 82, 1, 0.99);
  padding: 0 5px
}

.container_withGirl {
  display: flex;
  gap: 20px;
  flex-direction: column;
  padding: 20px 0;
}

@media (min-width:600px) {
  .account_girl {
    height: 180px;
  }
  .redblock {
    height: 95px;
  }
  .btns_row button a {
    font-size: 20px;
  }
  .btns_row button {
    width: 180px;
  }
  .titleBryndon {
    font-size: 55px;
  }
  .main_block h1 {
    font-size: 70px;
  }
  .onerow p {
    font-size: 30px;
  }
  .blockName {
    padding: 0;
  }
  .block_online p {
    font-size: 30px;
  }
  .block_online {
    margin-left: 0px;
  }
  .onerow i, .message_btn i {
    font-size: 26px;
  }
  .messageButton p {
    font-size: 26px;
  }
  .onerow i:nth-child(2) {
    padding: 0 20px;
  }
}
@media (min-width:700px){
  .btns_row button a {
    font-size: 26px;
  }
  .btns_row button {
    width: 200px;
  }
 
  .titleBryndon {
    font-size: 65px;
  }
  .main_block h1 {
    font-size: 80px;
  }
  .account_girl {
    height: 250px;
  }
  .block_img img {
    width: 220px;
    height: 220px;
  }
  .onerow i, .message_btn i {
    font-size: 46px;
  }
  .account_style {
    font-size: 32px;
  }
  .block_online p {
    font-size: 32px;
  }
  .redblock {
    height: 125px;
  }
  .messageButton p {
    font-size: 36px;
  }
  .onerow p {
    font-size: 40px;
  }
}
@media (max-width:800px) {
  .greenRound {
    width: 25px;
    height: 25px;
    margin-top: 5px;
  }
  .block_online {
    gap: 0;
    justify-content: center;
  }
  .onerow.onerow_icons img {
    width: 70px;
    height: auto;
  }
  .onerow {
    gap: 10px;
  }
  .blockName {
    margin-left: -10px;
  }
  .message_btn {
    margin-left: -90px;
  }
}
@media (max-width:650px) {
  .greenRound {
    width: 20px;
    height: 20px;
    margin-top: 8px;
  }
  .block_online {
    padding: 5px 0;    
    gap: 0;
  }
  
  .account_girl {
    height: 180px;
  }
  .redblock {
    height: 90px;
  }

  .onerow img {
    width: 70px;
  }
  .onerow.onerow_icons img {
    width: 50px;
  }
  .messageButton img {
    width: 40px;
  }
  .account_style {
    font-size: 25px;
  }

}
@media (max-width:500px) {
  .messageButton img {
    width: 20px;
    height: auto;
  }  
  .messageButton {
    gap: 3px;
  }
  .account_girl {
    height: 150px;
  }
  .redblock {
    height: 75px;
  }
  .btns_row button {
    min-height: 50px;
  }
  .onerow p {
    font-size: 18px;
  }
  .blockName {
    margin-left: -10px;
  }
  .account_girl img {
    width: 120px;
    height: 120px;
  }
  .onerow img {
    width: 40px;
    height: auto;
  }
  .onerow.onerow_icons img {
    width: 30px;    
  }
  .onerow {
    gap: 0;
  }
  .messageButton img {
    width: 20px;
    height: auto;
  }
  .messageButton {
    padding: 15px 10px;
  }
  .messageButton p {
    font-size: 18px;
    margin: 0;
  }
  .message_btn {
    margin-left: -60px;
  }
  .account_style {
    font-size: 16px;
  }
  .block_online p {
    font-size: 16px;
  }
  .greenRound {
    width: 10px;
    height: 10px;
    margin-top: 4px;
  }
  .block_online {
    margin-left: 0;
    gap: 0;
    padding: 5px 0;
  }
}
@media (max-width:360px) {
  .greenRound {
    width: 10px;
    height: 10px;
  }
  .onerow img {
    width: 30px;
    height: auto;
  }
  .message_btn {
    margin-left: -65px;
  }
  .onerow.onerow_icons img {
    width: 30px;
  }
  .messageButton p {
    font-size: 16px;
    margin: 0;
  }
  .messageButton img {
    width: 25px;
    height: auto;
  }
  .messageButton {
    gap: 5px;
  }
}

@media (max-width:320px){
  .account_girl {
    height: 130px;
  }
  .redblock {
    height: 65px;
  }
  .messageButton p {
    font-size: 18px;
  }
  .onerow i {
    font-size: 20px;
  }
  .blockName {
    margin-left: -26px;
  }
  .account_girl img {
    width: 80px;
    height: 80px;
  }
  .onerow img {
    width: 40px !important;
    height: auto !important;
  }
  .onerow.onerow_icons img {
    width: 30px !important;
    height: auto !important;
  }
  .block_online {
    margin-left: 0;
    gap: 0;
  }
  .messageButton img {
    width: 30px !important;
    height: auto !important;
  }
  .messageButton p {
    font-size: 14px;
  }
  .onerow i {
    font-size: 18px;
  }
  .onerow_icons {
    flex-direction: column;
    align-items: flex-start;
  }
  .onerow_icons .padding5 {
    padding: 0;
  }
  .banner300x250, .banner300x100 {
    width: 98%;
  }
  .main_block h1 {
    font-size: 40px;
  }
  .messageButton {
    padding: 15px 10px;
  }
  .onerow {
    justify-content: center;
  }
}
@media (max-width:300px) {
  .firstText {
    color: #03000e;
    font-weight: bold;
    text-align: center;
    padding: 0 0 20px 0;
    font-size: 16px;
  }
  .onerow img {
    width: 30px !important;
    height: auto !important;
  }
  .onerow p {
    font-size: 15px;
  }
  .block_online {
    margin-left: -10px;
  }
  .onerow.onerow_icons img {    
    width: 25px !important;
    height: auto !important;
  }
  .messageButton img {
    width: 20px !important;
    height: auto !important;
  }
  .account_girl {
    height: 120px;
  }
  .redblock {
    height: 60px;
  }

}

/* ////////////burger//////// */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --nav-bg: #03000e;
  --main-clr: dodgerblue;
  --nav-shadow: 0px 3px var(--main-clr);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  background: #655387;
  z-index: 999;
}

nav .logo {
  color: #fff;
  text-decoration: none;
  font-size: 30px;
  font-family: "Anaphora";
}

nav ul {
  --padding: 20px;
  --font-size: 22px;

  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--font-size);
  overflow-y: hidden;
  transition: 1s cubic-bezier(.68,-0.55,.27,10.55);
}

nav ul li {
  padding: var(--padding);
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 1.7px;
  border-radius: 99px;
  background: var(--main-clr);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

nav .menu {
  width: 32px;
  height: 20px;
  cursor: pointer;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 20px;
}

nav .menu span {
  width: 100%;
  height: 4px;
  border-radius: 99px;
  background: #fff;
  transition: 0.3s ease;
  transform-origin: left;
}

nav .menu.active span:nth-child(1) {
  transform: rotate(27deg);
}

nav .menu span:nth-child(3) {
  transform-origin: left;
}

nav .menu.active span:nth-child(3) {
  transform: rotate(327deg);
}

nav .menu.active span:nth-child(2) {
  transform: scale(0);
}

@media (max-width: 910px) {
  nav .menu {
    display: flex;
  }

  nav ul {
    --height: 0px;

    flex-direction: column;
    background: var(--nav-bg);
    position: absolute;
    width: 100%;
    left: 0;
    top: 56px;
    height: var(--height);
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  }
  nav ul.active {
    --height: calc(
      (((var(--padding) * 2) + (var(--font-size) * 1.5))) * var(--childenNumber)
    );
    /*   (Block Level Padding + The Font Size) * The Number of Children   */
    
    
    transition: 1s ease;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }
  nav ul li a {
    width: 100%;
    text-transform: capitalize;
  }
}
