@font-face {
    font-family: 'Anaphora Stencil Fat';
    src: url('AnaphoraStencil-Fat.eot');
    src: local('Anaphora Stencil Fat'), local('AnaphoraStencil-Fat'),
        url('AnaphoraStencil-Fat.eot?#iefix') format('embedded-opentype'),
        url('AnaphoraStencil-Fat.woff2') format('woff2'),
        url('AnaphoraStencil-Fat.woff') format('woff'),
        url('AnaphoraStencil-Fat.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Anaphora ExtLt';
    src: url('Anaphora-ExtraLightItalic.eot');
    src: local('Anaphora ExtraLight Italic'), local('Anaphora-ExtraLightItalic'),
        url('Anaphora-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Anaphora-ExtraLightItalic.woff2') format('woff2'),
        url('Anaphora-ExtraLightItalic.woff') format('woff'),
        url('Anaphora-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

